/* Reset CSS página */
 * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
 }

 body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title-header"
        "content"
        "footer-content";
 }

 /* Header */

 .title-header {
   grid-area: title-header;
   background-color: #1d3557;
   color: #f1faee;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
  
 }

 .title-header > h1 {
   margin: 0px;
   font-weight: 300;
   font-size: 2.8rem;
 }

 .title-header > h2 {
   margin: 0px;
   font-weight: 200;
   font-size: 1.6rem;
 }

 /* Content */

 .modules {
   position: relative;
   height: 100%;
   overflow-y: scroll;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
 }

 .nav-modules {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .module {
   flex-basis:32%;
   margin-bottom: 20px;
   border-radius: 5px;
 }

 .module > h3 {
   margin: 0px;
   color: #fff;
   font-weight: 700;
   font-size: 1rem;
   padding: 10px 20px;
   background-color: #1d3557;
  
 }

 .module > ul {
   margin: 0px;
   padding: 10px;
   list-style: none;
 }

 .module > ul > li {
   padding: 7px;
   font-size: 1.2rem;
   cursor: pointer;
 }

 .module > ul > li > a {
   display: flex;
   text-decoration: none;
   color: #222;
 }

 .module > ul > li > a:hover {
   background-color: #EEE;
 }

 /* Footer */

 .footer-content {
   grid-area: footer-content;
   background-color: #fff;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 1.2rem;
   padding-right: 20px;
   color:#1d3557;

 }


 /* Cores dos módulos */

 .module.green { border: 2px solid #006d77; }
 .module.green > h3 { background-color: #006d77; }

 .module.blue { border: 2px solid #00bbf9; }
 .module.blue > h3 { background-color: #00bbf9; }

 .module.purple { border: 2px solid purple; }
 .module.purple > h3 { background-color: purple; }